.center {
  text-align: center
}
.center {
  text-align: center
}
div#about > div.section {
  width: 100%;
  padding: 100px 0;
  /* margin: 50px 0; */
}
#about {
  max-width: 1366px;
  margin: auto;
}
.headerbox {
  padding-top: 30px;
  padding-bottom: 70px;
  width: 86%;
  margin: auto;
}
.headerbox h3 {
  font-size: 28px;
  margin-bottom: 1em;
  letter-spacing: .0437em;
  font-weight: 700;
}
.headerbox p {
  color: #484848;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: .0125em;
}

/* brand logos and stuff */
.logos-container  {
  width: 86%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.logos-container img {
  height: 70px;
  margin: 25px;
}

.address {
  width: 86%;
  margin: auto;
  /* text-align: left; */
  text-align: center;
  color: #484848;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 2em;
}

.image-container {
  overflow: hidden;
  height: 100px;

}
#car-on-the-road {
  height: inherit;
  object-fit: cover;
  object-position: 0 50%;
}

@media only screen and (min-width: 768px) {
  .headerbox {
    width: 60%;
  }
  .headerbox h3 {
    font-size: 32px;
  }
  .image-container {
    margin-bottom: 90px;
  }
  #about {
    padding-top: 70px;
  }
  /* .image-container {
    height: 150px;
  } */
  /* .headerbox p {
    font-size: 1px;
  } */
}
@media only screen and (min-width: 1024px) {
  .image-container {
    height: 150px;
    width: 100%;
  }
}
@media only screen and (min-width: 1366px) {
  .headerbox {
    /* padding-top: 30px;
    padding-bottom: 70px; */
    width: 50%;
  }

}
