#contact {
  padding: 90px 0;
  background-color: #274ba0;
  /* background-color: #042F80; */
  background: linear-gradient(to right, #274BA0, #042F80);
}
#mc_embed_signup {
  padding: 20px 10px;
  text-align: left;
  width: 95%;
  margin: auto;
  background-color: #ffffff;
}
#message-box input {
  height: 300px;
  margin-bottom: 10px;
}
.mc-field-group {
  margin-top: 15px;
}
.indicates-required {
  font-size: 10px;
  color: blue;
  /* color: #ED5024; */
  float: right;
}
.asterisk {
  color: blue;
}
form h2 {
  font-size: 40px;
  margin-bottom: .5em;
  letter-spacing: .0437em;
  font-weight: 700;
}
form p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: .0125em;
  margin: 0;
  margin-bottom: 5em;
}
form input {
  border: 1px solid #c1c1c1;
  border-radius: 2px;
  width: 100%;
  padding: 5px 10px;
}
form input:focus {
  outline: none;
  border: 1px solid #707070;
}
form input[type='submit'] {
  padding: 10px 0;
  background-color: #274ba0;
  border: none;
  border-radius: 0;

  letter-spacing: .0437em;
  color: #ffffff;
}
label {
  display: block;
  margin: 5px 0;

  font-size: 14px;
  line-height: 1.5;
  letter-spacing: .0125em;
}

@media only screen and (min-width: 768px) {
  #mc_embed_signup {
    width: 60%;
    padding-left: 30px;
    padding-right: 30px;
  }
}
