summary:focus {
  outline: none;
}
#faq {
  width: 82%;
  max-width: 1366px;
  padding-top: 70px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
}
.header-box {
  text-align: left;
  margin-bottom: 70px;
}
.title {
  color: #182A34;
  font-size: 55px;
  font-weight: 500;
  margin-bottom: .1em;
}
.description {
  color: #182A34;
  font-size: 25px;
  font-weight: 400;
  margin: 0;
}
#faq > .section {
  width: 100%;
}
.section-item {
  text-align: left;
  padding: 13px 0;
  border-bottom: 1.5px solid #182A34;
}
.question {
  color: #182A34;
  font-weight: 500;
}
.answer {
  color: #484848;
  font-weight: 300;
  /* margin-left: 30px; */
}
dd {
  margin: 0;
  margin-bottom: 10px;
    /* font-style: italic; */
}
dt {
  margin-bottom: 5px;
  font-weight: 500;
  text-decoration: underline;
}
#faq dl {
  font-size: 14px;
  color: #484848;
  font-weight: 300;
  /* padding: 15px;
  border: 2px solid #efefef; */
  margin-top: 10px;
  border-radius: 2px;
}
@media only screen and (min-width: 768px) {
  #faq {
    width: 70%;
  }
  .title {
    font-size: 70px;
  }
  #faq ul {
    margin-left: 55px;
  }
}
