/* get started */
.parent-position {
  position: relative
}

/* gif */
#introduction-gif {
  width: 100%;

}
.get-started-button.button-placement {
  position: absolute;
  top: 85vh;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
/* why itellio */

.headline.white {
  color: #ffffff;
  font-style: italic;
  font-weight: 500;
}
.description.white{
  color: #ffffff;
}
.yellow-line {
  width: 10%;
  border:1px solid #FFDF47;
}
/* learn the tech */
.headline {
  font-size: 30px;
  margin-bottom: 40px;
}
.description {
  color: #415058;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 100px;
}
.grid-container {
  display: flex;
  justify-content: space-between;
  text-align: left;
}
.grid-item-feature {
  position: relative;
  width: 300px;
  height: 300px;
}
.grid-item-link {
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
}
.grid-item-headline {
  font-size: 25px;
  font-weight: 700;
}
.grid-item-description {
  color: #484848;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
}
.grid-item-textbox {
  width: inherit;
  position: absolute;
  top: 10px;
}
#learn-the-tech {
  margin-top: 120px;
  margin-bottom: 300px;
}
/* how it works */
#how-it-works {
  background-color: #F8F8F8;
  padding: 100px 0;
}
.grid-item-works {
  width: 200px;
  height: 200px;
  text-align: center;
}

/*
general */
.grid-item-image {
  width: 150px;
  height: 150px;
}
.set-width {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.set-width.small {
  width: 700px;
}
.button-container {
  display: flex;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}
