
/* learn the tech section text styles ( . _ . ) */
.floating-textbox a {
  text-decoration: none;
}
.floating-textbox span {
  display: block;
  text-align: left;
  color: #274ba0;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: .0437em;
  padding: 10px 10px;
}
.floating-textbox h3 {
  font-size: 25px;
  font-weight: 500;
  letter-spacing: .0437em;
  text-align: left;
  padding: 0 10px;
}
.floating-textbox p {
  color: #484848;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: .0125em;
  text-align: left;
  padding: 0 10px;
}

/* LAYOUTTTTTTTTTTTT-------------------- */
.section {
  width: inherit;
}
.grid-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 0;
}
.grid-item {
  margin: 25px 30px;
  border: 1px solid transparent;
  line-height: 0;
}
.spaced-apart {
  justify-content: space-around;
}


/* each thing-accomplishments */
.logo {
  height: 40px;
  opacity: .75;
}


/* each thing-learn the tech */
#learn-the-tech > .grid-container {
  width: 86%;
  margin: auto;
}
#learn-the-tech .grid-item {
  position: relative;
}
div#learn-the-tech a.grid-item:hover {
  border: 1px solid #274ba0;
  transition: all 0.4s ease-in;
}

#learn-the-tech > p.paragraph {
  margin-bottom: .5em;
}
#accomplishments > p.paragraph {
  margin-bottom: 2em;
}

.floating-textbox {
  position: absolute;
  line-height: 1.15;
}
.feature-image {
  width: 322px;
}

#learn-the-tech {
  margin-bottom: 4em;
}


/*how it works */
#learn-the-tech, #how-it-works, #accomplishments {
  padding: 50px 0;
}
#how-it-works > .grid-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 86%;
  margin: auto;
  margin-bottom: 40px;
  padding: 0;
}
#how-it-works > .grid-container .grid-item {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}
.grid-item-image {
  height: 150px;
  width: inherit;
}
.grid-item-description {
  color: #182A34;
  line-height: 1.5;
  letter-spacing: .0125em;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.button-container > a {
  margin: .8em auto;
}
.get-started-button.no-border {
  border-color: transparent;
  background-color: #274ba0;
}
.get-started-button.reverse-color {
  background-color: #ffffff;
  color: #274ba0;
  border-color: #274ba0;
}

/* intro gif */
#intro-gif {
  background-image: url('../images/landingpage-tablet.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* width: 375px; */
  /* height: 500px; */
  height: 405px;
  position: relative;

}
#textbox {
  position: absolute;
  top: 2vh;
  left: 0;
  right: 0;
}
#intro-gif h3.headline {
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
}
#intro-gif a.get-started-button {
  border: transparent;
}



/* ~~~~~~~~~~~~~~~~~~~~~~~ */
@media only screen and (min-width: 568px) {
  #how-it-works > .grid-container {
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 70px;
  }
  #how-it-works > .grid-container .grid-item {
    width: 125px;
  }
  .button-container {
    flex-direction: row;
    justify-content: center;
  }
  .button-container > a {
    margin: 0 1.5em;
  }
  #textbox {
    top: 34vh;
  }
}
@media only screen and (min-width: 768px) {
  #accomplishments > p.paragraph, #learn-the-tech > p.paragraph , #how-it-works > p.paragraph {
    width: 60%;
  }
  #accomplishments > h3.headline, #learn-the-tech > h3.headline , #how-it-works > h3.headline {
    width: 60%;
  }
  .grid-container {
    width: 75%;
    margin: auto;
  }

  #intro-gif {
    background-image: url('../images/landingpage-tablet.gif');
    height: 865px;
  }
  #intro a {
    width: 125px;
    font-size: 15px;
  }
  #intro h3.headline {
    margin-bottom: 90px;
  }
  #textbox {
    top: 10vh;
  }

  #learn-the-tech > .grid-container .grid-item {
    margin-bottom: 50px;
  }
  #learn-the-tech, #how-it-works, #accomplishments {
    padding: 70px 0;
  }
  .headline {
    font-size: 30px;
    margin-bottom: 40px;
  }
  .spaced-apart {
    justify-content: center;
  }
  .feature-image {
    width: 322px;
  }
}

@media only screen and (min-width: 1024px) {
  .grid-container {
    padding: 25px 0;
  }
  .logo {
    height: 40px;
  }
  .margins {
    margin-left: 90px;
    margin-right: 90px;
  }
  #intro-gif {
    height: 575px;
  }
  #learn-the-tech, #how-it-works, #accomplishments {
    padding: 120px 0;
  }
}
@media only screen and (min-width: 1366px) {
  #intro-gif {
    background-image: url('../images/landingpage-desktop.gif');
    height: 625px;
  }
  #intro-gif h3.headline {
    margin-bottom: 215px;
  }
}
