@import url('normalize.css');
@import url('footer.css');
@import url('nav.css');
@import url('get-started.css');
@import url('headlineimage.css');

body {
  font-family: 'Roboto', sans-serif;
  color: #274ba0;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h3 {
  margin: 0;
}
html, body {
width: 100%;
height: 100%;
margin: 0px;
padding: 0px;
}
