#product {
  padding: 40px 0;
}
#product figure img {
  width: 100%;
}
#product figure {

  padding: 30px 20px 0;
}
#product figcaption {
  padding: 10px 0;
  text-align: left;
}
#product figure h3 {
  color: #182A34;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: .0437em;
  margin: 1em 0;
}
#product figure ul {
  list-style-type: disc;
  margin-left: 17px;
}
#product figure ul li {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: .0125em;
}
.header {
  padding: 20px 0;
  text-align: left;
}
.header p.paragraph {
  margin-bottom: .5em;
}


@media only screen and (min-width: 768px) {
  .header {
    margin-bottom: 0px;
  }
  #product .headline {
    margin-bottom: .5em;
  }
  #product figure {
    display: flex;
    height: 300px;
    padding: 0;
    width: 550px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
  }
  #product figure img {
    width: auto;
    height: 150px;
  }
    #product figcaption {
      width: 40%;
    }

}
@media only screen and (min-width: 1024px) {
  .header {
    text-align: center;
  }
  #product figure {
    width: 850px;
  }
  #product figcaption {
    width: 61%;
  }
}
