/* main image background color change */
.main-pic-container {
  background-color: #ED5024;
  /* background-color: #D8503A; */
}
img#girl {
  height: 195px;
}


/* rest of stuff for this the page */
#why-know > div.section > div:nth-child(1) {
  margin-bottom: 15px;
}
#why-know {
  width: 86%;
  margin: auto;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
}
div#why-know > .section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* margin-bottom: 120px; */
  margin-top: 0;
  margin-bottom: 40px;

}
.textbox {
  text-align: left;
  /* width: 500px; */
}
.sub-description {
  color: #484848;
  line-height: 1.6;
  font-weight: 300;
}
#yellow-box {
  background-color: #FFDF47;
  position: relative;
  width: 100%;
  height: 150px;
}
#emotion {
  position: absolute;
  height: 65px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
#blue-box {
  background-color: #9BD5FF;
  position: relative;
  width: 100%;
  /* height: 300px; */
  height: 180px;
}
#clear-box {
  position: relative;
}
#mobile-gif {
  width: 100%;
}
#data {
  position: absolute;
  /* height: 335px; */
  height: 150px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.styled-list {
  list-style-type: disc;
  color: #484848;
  margin-left: 20px;
}
.title {
  color: #484848;
  font-weight: 500;
  letter-spacing: .5px;
  margin-bottom: 5px;
}
.small {
  font-size: 15px;
  margin-top: 0;
}



@media only screen and (min-width: 568px) {

}
@media only screen and (min-width: 768px) {
  div#why-know > .section.reverse {
    flex-direction: row-reverse;
  }
  div#why-know > .section {
    /* width: 100%;
    display: flex; */
    flex-direction: row;
    margin-bottom: 120px;
    /* margin-top: 0;
    margin-bottom: 40px; */
  }
  #yellow-box {
    width: 250px;
    height: inherit;
  }
  .textbox {
    width: 55%;
  }
  #emotion {
    height: 50px;
  }
  #blue-box {
    background-color: #9BD5FF;
    position: relative;
    width: 250px;
    height: inherit;
  }
  #mobile-gif {
    width: 250px;
  }
}
@media only screen and (min-width: 1024px) {
  #yellow-box, #blue-box, #mobile-gif {
    width: 350px;
  }
  #why-know {
    padding: 100px 0;
  }

}
@media only screen and (min-width: 1366px) {
  div#why-know > .section {
    justify-content: center;
  }
  #why-know > div.section > div {
    margin: 0 20px;
  }
}
