.header-background {
  background-color: #FFDF47;
}
img#on-phone {
  height: 170px;
}

#why-start > p.paragraph {
  margin-bottom: 3em;
}
/* retargeting section pics stuff */
.grid-container {
  display: flex;
  flex-direction: column;
  width: 86%;
  margin: auto;
}
.grid-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  padding: 20px;
  margin-bottom: 35px;
  box-shadow: -1px 0px 11px 1px rgba(225, 226, 228, 0.4);
}
.grid-image {
  height: 200px;
  margin-top: 25px;
}
.grid-title {
  color: #274BA0;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  margin-bottom: .5em;
  letter-spacing: .0437em;
}
.grid-description {
  font-size: 14px;
  font-weight: 300;
  margin: 0;
  line-height: 1.5;
  letter-spacing: .0125em;
}
#why-start {
  padding: 65px 0;
}

@media only screen and (min-width: 568px) {

}
@media only screen and (min-width: 768px) {
  .grid-item {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  #why-start {
    padding: 100px 0;
  }
  #why-start > p.paragraph {
    margin-bottom: 4em;
    width: 70%;
  }
}
@media only screen and (min-width: 1024px) {
  .grid-container {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 75px;
  }
  .grid-item {
    width: 280px;
    max-width: 370px;
  }
  #why-start > h3.headline {
    text-align: center;
  }
  #why-start > p.paragraph {
    text-align: center;
    width: 60%;
  }
}
@media only screen and (min-width: 1366px) {
  .grid-container {
    justify-content: center;
  }
  .grid-item {
    margin-left: 20px;
    margin-right: 20px;
  }

}
