.head-container {
  background-color: #9BD5FF;
}

/* rest of the stuff for the page */
.section {
  position: relative;
}
.long-paragraph {
  line-height: 1.6;
  color: #484848;
  font-size: 23px;
  font-weight: 300;
  width: 1000px;
  margin: auto;
}


/* brand logos and stuff */
.logos-container  {
  width: 1000px;
  display: flex;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

.logos-container img {
  height: 70px;
}

/* iframe stuff */
#google-map {
  width: 100%;
  /* height: */
}
.overlay {
  position: absolute;
  width: 550px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: black;
}
.input-field {
  border: 9px solid red;
}
.underline-field {
  border-bottom: 2px solid #484848;
}
.label {
  font-size: 30px;
  color: #484848;
  font-weight: 500;
}
